h1, h2 {
  font-weight: lighter;
}

.button {
  width: 150px;
  height: 40px;
}

mat-label {
  font-weight: lighter;
}

::ng-deep .readonly {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-outline {
        .mat-form-field-outline-start {
          color: transparent;
          background-color: rgba(176, 176, 176, 0.06) !important;
        }

        .mat-form-field-outline-gap {
          color: transparent;
          background-color: rgba(176, 176, 176, 0.06) !important;
        }

        .mat-form-field-outline-end {
          color: transparent;
          background-color: rgba(176, 176, 176, 0.06) !important;
        }
      }
    }
  }

}

