<form>
  <div class="container">
    <div class="row px-0 py-4">
      <ng-container *ngFor="let section of config?.sections">
        <ng-container *ngFor="let item of section.items">
          <div class="col-3" [ngClass]="item.class">
            <ng-container *ngIf="item.type == 'text'" [ngTemplateOutlet]="text"
                          [ngTemplateOutletContext]="{item:item}"></ng-container>
            <ng-container *ngIf="item.type == 'textarea'" [ngTemplateOutlet]="textarea"
                          [ngTemplateOutletContext]="{item:item}"></ng-container>
            <ng-container *ngIf="item.type == 'number'" [ngTemplateOutlet]="number"
                          [ngTemplateOutletContext]="{item:item}"></ng-container>
            <ng-container *ngIf="item.type == 'select'" [ngTemplateOutlet]="select"
                          [ngTemplateOutletContext]="{item:item}"></ng-container>
            <ng-container *ngIf="item.type == 'datepicker'" [ngTemplateOutlet]="datepicker"
                          [ngTemplateOutletContext]="{item:item}"></ng-container>
            <ng-container *ngIf="item.type == 'autocomplete'" [ngTemplateOutlet]="autocomplete"
                          [ngTemplateOutletContext]="{item:item}"></ng-container>
            <ng-container *ngIf="item.type == 'checkbox'" [ngTemplateOutlet]="checkbox"
                          [ngTemplateOutletContext]="{item:item}"></ng-container>
          </div>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let section of configTextAreas?.sections">
        <ng-container *ngFor="let item of section.items">
          <ng-container *ngIf="item.type == 'textarea'" [ngTemplateOutlet]="textarea"
                        [ngTemplateOutletContext]="{item:item}"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</form>

<ng-template #text let-item='item'>
  <mat-form-field appearance="outline" floatLabel="always" [ngClass]="{'readonly': !this.editMode}">
    <mat-label>{{item.label}}</mat-label>
    <input matInput type="text" [disabled]="item.disabled" [(ngModel)]="item.value" [readonly]="!this.editMode">
  </mat-form-field>
</ng-template>

<ng-template #textarea let-item='item'>
  <mat-form-field appearance="outline" floatLabel="always" [ngClass]="{'readonly': !this.editMode}">
    <mat-label>{{item.label}}</mat-label>
    <textarea matInput type="text" [(ngModel)]="item.value" [readonly]="!this.editMode"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="15"></textarea>
  </mat-form-field>
</ng-template>

<ng-template #checkbox let-item='item'>
  <mat-checkbox class="mt-3 mx-4" color="primary" [(ngModel)]="item.value" [disabled]="!this.editMode"
                (change)="changeDisabled(item)">
    <mat-label>{{item.label}}</mat-label>
  </mat-checkbox>
</ng-template>

<ng-template #autocomplete let-item='item'>
  <mat-form-field class="example-full-width" appearance="outline" floatLabel="always"
                  [ngClass]="{'readonly': !this.editMode}">
    <mat-label>{{item.label}}</mat-label>
    <input type="text" [(ngModel)]="item.value" matInput
           [matAutocomplete]="auto" [readonly]="!this.editMode">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option value="Linda Blahova">Linda Blahova</mat-option>
      <mat-option value="Roman Dobrik">Roman Dobrik</mat-option>
      <mat-option value="Jozef Petrik">Jozef Petrik</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-template>

<ng-template #number let-item='item'>
  <mat-form-field appearance="outline" floatLabel="always" [ngClass]="{'readonly': !this.editMode}">
    <mat-label>{{item.label}}</mat-label>
    <input matInput type="number" [(ngModel)]="item.value" [readonly]="!this.editMode">
  </mat-form-field>
</ng-template>

<ng-template #select let-item='item'>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>{{item.label}}</mat-label>
    <mat-select [(ngModel)]="item.value" [disabled]="!this.editMode">
      <mat-option value="one"></mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #datepicker let-item='item'>
  <mat-form-field appearance="outline" floatLabel="always" [ngClass]="{'readonly': !this.editMode}">
    <mat-label>{{item.label}}</mat-label>
    <input matInput [disabled]="item.disabled" [(ngModel)]="item.value" [matDatepicker]="picker1"
           [readonly]="!this.editMode">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
</ng-template>

