.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

mat-card {
  min-height: 100%;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

h1, h2 {
  font-weight: lighter;
}

.h1 {
  font-size: larger;
}

mat-form-field {
  padding: 0rem 0.5rem;
  width: 100%;
}

mat-card {
  overflow-x: auto;
  display: block;
}

.transparent{
  background-color: #b3acd7;
}


.mat-table {
  overflow-x: scroll;
  overflow-scrolling: auto;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;

}
