<mat-card>
  <mat-card-title>
    <div class="container inline">
      <div class="row px-4 d-flex">
        <div class="col-2" style="padding-left: 5rem; padding-top: 0.5rem; margin-left: -85px">
          <img *ngIf="patient.person.sex === 'mužské'" style="width: 70px; height: 70px" src="assets/man.png">
          <img *ngIf="patient.person.sex === 'ženské'" style="width: 70px; height: 70px" src="assets/woman.png">
        </div>
        <h1 class="col-10 h1 mt-3 " style="padding: 0.7rem 0rem; font-size: xxx-large">
          | &nbsp; {{ patient.id}} &nbsp; | &nbsp;
          {{ patient.person.firstname}} {{ patient.person.lastname}}
        </h1>
        <i *ngIf="patient.person.dateOfDeath !== '-'" class="fa fa-plus" style="padding-left: 20px !important;"></i>
      </div>

    </div>
  </mat-card-title>
</mat-card>

<div class="content px-0">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="50%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-title>
          <div class="row px-4 my-0">
            <h1 class="m-0 col-6"
                *ngIf="patient.person.sex === 'ženské' && patient.person.birthLastname !== ''"
            >Rodné priezvisko:</h1>
            <h1 *ngIf="patient.person.sex === 'ženské' && patient.person.birthLastname !== ''"  class="m-0 col-6">{{ patient.person.birthLastname}}</h1>
            <h1 class="m-0 col-6">Pohlavie:</h1>
            <h1 class="m-0 col-6" *ngIf="patient.person.sex === 'ženské'">ženské</h1>
            <h1 class="m-0 col-6" *ngIf="patient.person.sex === 'mužské'">mužské</h1>
            <h1 class="m-0 col-6">Rodinný stav:</h1>
            <h1 class="m-0 col-6">{{ patient.person.maritalStatus}}</h1>
            <h1 class="m-0 col-6">Doklad totožnosti:</h1>
            <h1 class="m-0 col-6">{{ patient.person.identificationCard}}</h1>
            <h1 class="m-0 col-6">Štátna príslušnosť:</h1>
            <h1 class="m-0 col-6">{{ patient.person.nationality}}</h1>
          </div>
        </mat-card-title>
      </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle>
          <div class="row px-4 my-0">
            <h1 class="m-0 col-6">Dátum narodenia:</h1>
            <h1 class="m-0 col-6">{{ patient.person.dateOfBirth}}</h1>
            <h1 class="m-0 col-6" *ngIf="patient.person.dateOfDeath !== '-'">Dátum úmrtia:</h1>
            <h1 class="m-0 col-6" *ngIf="patient.person.dateOfDeath !== '-'">{{ patient.person.dateOfDeath}}</h1>
            <h1 class="m-0 col-6">Rodné číslo:</h1>
            <h1 class="m-0 col-6">{{ patient.person.identificationNumber}}</h1>
            <h1 class="m-0 col-6">Kód poisťovne:</h1>
            <h1 class="m-0 col-6">{{ patient.insuranceCompany}}</h1>
            <h1 class="m-0 col-6">Číslo poistenca:</h1>
            <h1 class="m-0 col-6">{{ patient.insuranceNumber}}</h1>
          </div>
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px grid" class="mt-3">
    <div fxFlex="60%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle class="d-flex">
          <img class="col-2" style="width: 30px; height: 30px" src="assets/home.png">
          <h2 class="col-10 m-0 ml-5">&nbsp; {{patient.person.street}}, {{patient.person.city}} {{patient.person.zipcode}}
            , {{patient.person.state}} </h2>
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div fxFlex="12%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle class="d-flex">
          <img class="col-2" style="width: 30px; height: 30px" src="assets/blood-type.png">
          <h2 class="col-10 m-0 ml-5">&nbsp; {{patient.bloodType}} </h2>
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div fxFlex="14%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle class="d-flex">
          <img class="col-2" style="width: 30px; height: 30px" src="assets/height.png">
          <h2 class="col-10 m-0 ml-5">&nbsp; {{patient.height}} cm </h2>
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div fxFlex="14%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle class="d-flex">
          <img class="col-2" style="width: 30px; height: 30px" src="assets/weight-scale.png">
          <h2 class="col-10 m-0 ml-5">&nbsp; {{patient.weight}} kg</h2>
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px grid" class="mt-3">
    <div fxFlex="40%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle >
          <div class="d-flex">
            <img class="col-2" style="width: 30px; height: 30px" src="assets/telephone.png">
            <h2 class="col-10 m-0 ml-5">&nbsp; {{patient.person.telephoneNumber}}</h2>
          </div>
          <div class="d-flex">
            <img class="col-2 mt-1" style="width: 30px; height: 30px" src="assets/mail.png">
            <h2 class="col-10 m-0 ml-5">&nbsp; {{patient.person.email}}</h2>
          </div>

        </mat-card-subtitle>
      </mat-card>
    </div>
    <div fxFlex="60%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z2">
        <mat-card-subtitle >
          <div class="d-flex">
            <img class="col-2" style="width: 30px; height: 30px" src="assets/contact.png">
            <h2 class="col-5 m-0 ml-5">&nbsp; {{patient.person.contactFirstname}} {{patient.person.contactLastname}}</h2>
            <img class="col-2" style="width: 30px; height: 30px" src="assets/telephone.png">
            <h2 class="col-5 m-0 ml-5">&nbsp; {{patient.person.contactTelephone}} </h2>
          </div>
          <div class="d-flex">
            <h2 class="col-2 m-0" style="width: 30px; height: 30px" ></h2>
            <h2 class="col-5 m-0 ml-5"></h2>
            <img class="col-2 mt-1" style="width: 30px; height: 30px" src="assets/mail.png">
            <h2 class="col-5 m-0 ml-5">&nbsp; {{patient.person.contactEmail}} </h2>
          </div>

        </mat-card-subtitle>
      </mat-card>
    </div>
    <div fxFlex="100%" >
      <mat-card class="mat-elevation-z2 transparent">
        <div class="row px-4 my-0">

          <ng-container>
            <table mat-table [dataSource]="dataSource"
                   class="mat-elevation-z0 mb-3 transparent">
              <ng-container matColumnDef="diagnose">
                <th mat-header-cell *matHeaderCellDef>
                  Diagnóza
                </th>
                <td mat-cell *matCellDef="let element"> {{element.diagnose.idDiagnose}}
                  | {{element.diagnose.diagnoseName}} </td>
              </ng-container>

              <ng-container matColumnDef="localization">
                <th mat-header-cell *matHeaderCellDef>
                  Lokalizácia
                </th>
                <td mat-cell *matCellDef="let element"> {{element.localization}} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>
                  Popis
                </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="severity">
                <th mat-header-cell *matHeaderCellDef>
                  Závažnosť
                </th>
                <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
              </ng-container>

              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>
                  Stav
                </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-container>
        </div>
      </mat-card>
    </div>
  </div>
</div>


