<mat-accordion class="example-headers-align" *ngFor="let doctor of doctors">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{doctor.title}} {{doctor.person.firstname}} {{doctor.person.lastname}}
      </mat-panel-title>
      <mat-panel-description>
        {{doctor.id}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="container p-4">
      <div class="row">
        <a>
          <i class="fa fa-stethoscope "></i> Specializacia: {{doctor.specialization}}
        </a>
      </div>
      <div class="row">
        <a>
          <i class="fa fa-home"></i> {{doctor.person.street}}, {{doctor.person.city}}, {{doctor.person.state}}
        </a>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
