h1,h2 {
  font-weight: lighter;
}

.button {
  width: 150px;
  height: 40px;
}

.mat-button.mat-edit {
  color: #3f1e77;
}

.mat-raised-button.mat-edit{
  background-color: #3f1e77;
  color: white;
}
