<mat-card >
  <mat-card-actions>
    <mat-card-title>
      <div class="container">
        <div class="row px-4 py-3" >
          <h1 class="col-10 h1"><i class="fa fa-address-card-o"></i> Hospitalizácia {{this.hospitalization.idHospitalization}}</h1>
          <button mat-raised-button [color]="this.editMode ? 'edit' :'primary'" class="button col-2"
                  (click)="this.switchMode()">{{this.buttonValue}}</button>
        </div>
        <form #myForm="ngForm" style="font-size: 14px; display: flex" *ngIf="this.hospitalization.ongoing === true">

          <mat-form-field class="col-2 px-5 readonlyRoom" appearance="outline" floatLabel="always" style="outline: 0px">
            <mat-label>Izba</mat-label>
            <input matInput [readonly]="true" name="roomNumber"
                   [(ngModel)]="this.hospitalization.bed.room.roomNumber">
          </mat-form-field>
          <mat-form-field class="col-7 readonlyRoom" appearance="outline" floatLabel="always" >
            <mat-label>Lôžko</mat-label>
            <input matInput [readonly]="true" name="bedNumber"
                   [(ngModel)]="this.hospitalization.bed.bedNumber">
          </mat-form-field>

          <div *ngIf="this.editMode && this.hospitalization.ongoing === true" style="padding-left: 70px">
            <button mat-raised-button color="end" class="button col-2" style="width: 100%;" (click)="endHospitalization()"
                    >Ukončíť hospitalizáciu</button>
<!--            -->
          </div>
        </form>
      </div>
    </mat-card-title>
  </mat-card-actions>
</mat-card>

<app-info-row [editMode]="this.editMode" [hospitalization]="this.hospitalization"></app-info-row>

<mat-card class="m-0">
  <mat-card-actions class="py-0">
      <div class="container">
        <div class="row px-4 py-0">
          <mat-tab-group  mat-stretch-tabs dynamicHeight>
            <mat-tab label="Anamnéza">
              <app-anamnesis [editMode]="this.editMode" [hospitalization]="this.hospitalization"></app-anamnesis>
            </mat-tab>
            <mat-tab label="Príjem">
              <app-acceptance [editMode]="this.editMode" [hospitalization]="this.hospitalization"></app-acceptance>
            </mat-tab>
            <mat-tab label="Prepustenie">
              <app-dismissal [editMode]="this.editMode" [hospitalization]="this.hospitalization"></app-dismissal>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
  </mat-card-actions>

</mat-card>
