 <mat-card style="min-height: calc(100vh - 5rem);">
     <mat-card-actions>
       <mat-card-title>
         <div class="container">
           <div class="row px-4 py-2" >
             <h1 class="col-10 h1">Pridanie pacienta do evidencie</h1>
             <button mat-raised-button color="primary" class="button col-2" (click)="loadData(); patientForm.reset()" >Uložiť</button>
           </div>
         </div>
       </mat-card-title>
       <form #patientForm="ngForm">
         <div class="container">
         <div class="row px-4">
           <ng-container *ngFor="let section of config?.sections">
             <h2 class="h2 mb-0">{{section.name}}</h2>
             <ng-container *ngFor="let item of section.items">
               <div class="col-3" [ngClass]="item.class">
                 <ng-container *ngIf="item.type == 'text'" [ngTemplateOutlet]="text"
                               [ngTemplateOutletContext]="{item:item}"></ng-container>
                 <ng-container *ngIf="item.type == 'number'" [ngTemplateOutlet]="number"
                               [ngTemplateOutletContext]="{item:item}"></ng-container>
                 <ng-container *ngIf="item.type == 'select'" [ngTemplateOutlet]="select"
                               [ngTemplateOutletContext]="{item:item}"></ng-container>
                 <ng-container *ngIf="item.type == 'datepicker'" [ngTemplateOutlet]="datepicker"
                               [ngTemplateOutletContext]="{item:item}"></ng-container>
               </div>
             </ng-container>
           </ng-container>
         </div>
         </div>
       </form>
     </mat-card-actions>
 </mat-card>

<ng-template #text let-item='item'>
  <mat-form-field appearance="outline" floatLabel="always" >
    <mat-label>{{item.label}}</mat-label>
    <input matInput type="text" [(ngModel)]="item.value" [disabled]="item.disabled">
  </mat-form-field>
</ng-template>

<ng-template #number let-item='item'>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>{{item.label}}</mat-label>
    <input matInput type="number" [(ngModel)]="item.value">
  </mat-form-field>
</ng-template>

 <ng-template #select let-item='item'>
   <mat-form-field appearance="outline" floatLabel="always">
     <mat-label>{{item.label}}</mat-label>
     <mat-select  [(ngModel)]="item.value" (selectionChange)="this.changeDisabled(item)">
       <mat-option *ngFor="let option of item.options" [value]="option">{{option}}</mat-option>
     </mat-select>
   </mat-form-field>
 </ng-template>

 <ng-template #datepicker let-item='item'>
   <mat-form-field appearance="outline" floatLabel="always">
     <mat-label>{{item.label}}</mat-label>
     <input matInput [(ngModel)]="item.value" [matDatepicker]="picker1">
     <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
     <mat-datepicker #picker1></mat-datepicker>
   </mat-form-field>
 </ng-template>


