.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

mat-card {
  min-height: 100%;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

h1, h2 {
  font-weight: lighter;
}

mat-form-field {
  padding: 0rem 0.5rem;
  width: 100%;
  font-size: 12px;
}

.mat-expansion-panel-header{
  background: rgb(255, 255, 255) !important;
}

.mat-expansion-panel-header-title, a {
  font-weight: lighter;
  font-size: larger;
}


.mat-table {
  overflow-x: scroll;
  overflow-scrolling: auto;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;

}

::ng-deep .readonly {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-outline {
        .mat-form-field-outline-start {
          color: transparent;
          background-color: rgba(176, 176, 176, 0.06) !important;
        }

        .mat-form-field-outline-gap {
          color: transparent;
          background-color: rgba(176, 176, 176, 0.06) !important;
        }

        .mat-form-field-outline-end {
          color: transparent;
          background-color: rgba(176, 176, 176, 0.06) !important;
        }
      }
    }
  }
}



