.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

mat-card {
  min-height: 100%;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

h1, h2 {
  font-weight: lighter;
}

mat-form-field {
  padding: 0rem 0.5rem;
  width: 100%;
}

.mat-expansion-panel-header{
  background: rgb(255, 255, 255) !important;
}

.mat-expansion-panel-header-title, a {
  font-weight: lighter;
  font-size: larger;
}

