<mat-card>
  <mat-card-title>
    <div class="container inline">
      <div class="row px-4 d-flex">
        <h1 class="col-10 mt-3 " >
          ODCH | Izby
        </h1>
      </div>
    </div>
  </mat-card-title>
</mat-card>

<div fxLayout="row wrap" fxLayoutGap="16px grid" class="mt-3 pr-0">
  <div fxFlex="50%" fxFlex.sm="100%">
    <button id="1" mat-raised-button (click)="changeRoomType(1)"
            [ngClass]="{ 'btn-clicked': this.clickedButton === 1, 'btn-not-clicked': this.clickedButton !== 1}"
              class="button"><h3 class="p-0 m-1"><i class="icon fa fa-spinner"></i>Voľné</h3></button>
  </div>
  <div fxFlex="50%" fxFlex.sm="100%">
    <button id="2" (click)="changeRoomType(2)" mat-raised-button
            [ngClass]="{ 'btn-clicked': this.clickedButton === 2, 'btn-not-clicked': this.clickedButton !== 2}"
            class="button"><h3 class="p-0 m-1"><i class="icon fa fa-check-circle-o"></i> Všetky</h3></button>
  </div>
</div>

<mat-expansion-panel style="margin-top: 1rem" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title class="px-4 py-3">
      Filtrovanie izieb
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="container px-4 pt-2">
    <div class="row">
      <ng-container *ngFor="let section of config?.sections">
        <ng-container *ngFor="let item of section.items">
          <div class="col-3" [ngClass]="item.class">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>{{item.label}}</mat-label>
              <input matInput type="text" [(ngModel)]="item.value" (keyup)="this.filterTable(item)">
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</mat-expansion-panel>

<mat-card style="margin-top: 1rem">
  <div class="container">
    <div class="row px-4" style="overflow-x: auto">
      <mat-table mat-table matTableFilter [exampleEntity]="filterEntity" multiTemplateDataRows
                 [filterType]="filterType"  [dataSource]="dataSource" class="mat-elevation-z0">

        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of displayedColumns">
          <mat-header-cell *matHeaderCellDef> {{column.label}} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element[column.id]}} </mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayedCols"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedCols;"
                  (click)="openBottomSheet(row)"></mat-row>

      </mat-table>

    </div>
  </div>
</mat-card>

